<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
     const currentPath = window.location.pathname;
     const menuItems = document.querySelectorAll('#navbarTogglerDemo02 .nav-link');

     menuItems.forEach(function(item) {
         if (item.getAttribute('href') === currentPath) {
             item.classList.add('active');
         }
     });

     var token = $("meta[name='_csrf']").attr("content");
     var header = $("meta[name='_csrf_header']").attr("content");

     var code = $("#codecheck").val();

     if (code) {
         var url = "/members/" + code + "/codeCheck";
         var paramData = { code: code };
         var param = JSON.stringify(paramData);

         $.ajax({
             url: url,
             type: "POST",
             contentType: "application/json",
             data: param,
             beforeSend: function(xhr) {
                 xhr.setRequestHeader(header, token);
             },
             dataType: "json",
             cache: false,
             success: function(result, status) {
                 alert("확인 결과: " + result);
             },
             error: function(jqXHR, status, error) {
                 if (jqXHR.status == 401) {
                     location.href = '/members/new';
                 } else {
                     alert("오류: " + jqXHR.responseText);
                 }
             }
         });
     }
 });
    </script>
</th:block>
<th:block layout:fragment="css">
   <style>
       h1{
        font-weight : bold;
       }
       h3{
        font-weight : bold;
       }
       #line {
            width: 100%;
            border-top: 3px solid black;
            border-bottom: 1px solid black;
        }
       .combo{
        margin-top:40px
       }
       .nav-link.active{
        color: blue !important;
        }
   </style>
</th:block>
<div layout:fragment="content">
    <h1>스토어</h1>
        <nav class="navbar navbar-expand-lg bg-white color-black navbar-light"
        id="line">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav w-100 d-flex justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-5" href="/store">콤보</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-5" href="/popcorn">팝콘</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-5" href="/drink">음료</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-5" href="/snack">스낵</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold fs-5" href="/cart">장바구니</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <a class="nav-link fw-bold fs-5" href="/admin/item/new">상품 등록</a>
                            </li>
                            <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <a class="nav-link fw-bold fs-5" href="/admin/items">상품 관리</a>
                            </li>
                        </ul>
                    </div>
                    <br>
                </div>
            </nav>
        <div class="combo">
        <h3>콤보<span style="font-weight:initial; font-size:0.8em;"> 다 같이 배부르게</span></h3>
        </div>
    <div>
        <hr>
    </div>
    <div class="container text-left">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
            <th:block th:each="item, status: ${items.getContent()}">
                <th:block th:if="${item.menu == T(com.movie.constant.Menu).COMBO}">
                <div class="col mb-4">
                    <div class="card border-0">
                        <a th:href="'/item/' + ${item.id}" class="text-dark text-decoration-none">
                            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}"
                                 height="300">
                            <div class="card-body">
                                <h4 class="card-title fw-bold ">[[${item.itemNm}]]</h4>
                                <h4 class="card-text">[[${item.itemComposition}]]</h4>
                                <h4 class="card-title fw-bold">[[${item.price}]]원</h4>
                            </div>
                        </a>
                    </div>
                </div>
                </th:block>
            </th:block>
                        </div>
                    </div>
    <div th:if="${items.totalElements > 10}"
         th:with="start=${(items.number/maxPage)*maxPage +1},
              end=(${(items.totalPages == 0) ? 1 : (start + (maxPage-1) < items.totalPages ?
              start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${items.number eq 0}?'disabled'">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                   aria-label='Previous' class="page-link">
                    <span aria-hidden="true">이전</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' +${page -1}}"
                   th:inline="text" class="page-link">[[${page}]]</a>
            </li>
            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled'">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number + 1}}"
                   aria-label="Next" class="page-link">
                    <span aria-hidden="true">다음</span>
                </a>
            </li>
        </ul>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </div>
</html>